ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-dark);
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: var(--font-color-darkBG);
  text-align: center;
  padding: 1vh 1vw;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--bg-hover);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
