/*****************************************************
/*
/* Global Style Variables
/*
/****************************************************/

:root {
  /**************************************
  **** App Variables
  ***************************************/

  --bg-app: var(--bg-brightmode);
  --bg-alpha-5: var(--bg-brightmode-alpha-5);
  --bg-alpha-25: var(--bg-brightmode-alpha-25);
  --bg-alpha-80: var(--bg-brightmode-alpha-80);
  --bg-alpha-90: var(--bg-brightmode-alpha-90);
  --bg-gradient: var(--bg-brightmode-gradient);
  --bg-point-out: var(--bg-point-out-brightmode);
  --bg-point-out-alpha-50: var(--bg-point-out-brightmode-alpha-50);
  --bg-point-out-alpha-80: var(--bg-point-out-brightmode-alpha-80);
  --bg-point-out-alpha-90: var(--bg-point-out-brightmode-alpha-90);
  --bg-point-out-gradient: var(--bg-point-out-brightmode-gradient);

  --hover: rgb(255, 167, 126); /*rgb(255, 51, 0);*/
  --active: rgb(255, 106, 51); /*rgb(255, 51, 0);*/
  --active-background: rgb(253, 239, 235);
  --active-background-alpha-0: rgb(253, 239, 235, 0);
  --warning: rgb(255, 51, 51);
  --warning-alpha-5: rgba(255, 51, 51, 0.05);
  --warning-alpha-10: rgba(255, 51, 51, 0.1);
  --warning-alpha-25: rgba(255, 51, 51, 0.25);
  --warning-alpha-80: rgba(255, 51, 51, 0.5);
  --warning-alpha-90: rgba(255, 51, 51, 0.75);

  /* Font Vars*/
  --font-size-small: 1.3vh;
  --line-height-small: 1.5vh;

  --font-size-normal: 1.8vh;
  --line-height-normal: 2.2vh;

  --font-size-big: 2.2vh;
  --line-height-big: 2.5vh;
  --line-height-big-button: 5vh;

  --font-size-h3: 2.75vh;
  --line-height-h3: 3vh;

  --font-size-h2: 4vh;
  --line-height-h2: 5vh;

  --font-size-h1: 6vh;
  --line-height-h1: 7vh;

  --font-family-text: "CCCTextFont";
  --font-family-button: "CCCButtonFont";
  --font-family-section: "CCCSectionLabelFont";
  --font-family-cccLabel: "CCCLableFont";
  --font-family-figCaption: "CCCFigCaption";
  --font-family-SpecialText: "CCCSpecialText";

  --font-color: var(--font-color-brightmode);
  --font-color-alpha-90: var(--font-color-brightmode-alpha-90);
  --font-color-point-out: var(--font-color-point-out-brightmode);
  --font-color-point-out-alpha-90: var(--font-color-point-out-brightmode-alpha-90);
  --font-color-warning: var(--warning);
  --font-glowing-activ: "0 0 10px var(--active), 0 0 20px var(--active), 0 0 30px var(--active), 0 0 40px var(--active)";

  /**************************************
  **** Brigth Mode
  ***************************************/
  --bg-brightmode: rgb(255, 255, 255);
  --bg-brightmode-alpha-80: rgba(250, 250, 250, 0.8);
  --bg-brightmode-alpha-90: rgba(250, 250, 250, 0.9);
  --bg-brightmode-gradient: rgb(150, 150, 150);
  --bg-point-out-brightmode: rgb(30, 30, 30);
  --bg-point-out-brightmode-alpha-50: rgba(30, 30, 30, 0.5);
  --bg-point-out-brightmode-alpha-80: rgba(30, 30, 30, 0.8);
  --bg-point-out-brightmode-alpha-90: rgba(30, 30, 30, 0.9);
  --bg-point-out-brightmode-gradient: rgb(59, 31, 31);
  --font-color-brightmode: rgb(30, 30, 30);
  --font-color-brightmode-alpha-90: rgba(30, 30, 30, 0.75);
  --font-color-point-out-brightmode: rgb(250, 250, 250);
  --font-color-point-out-brightmode-alpha-90: rgba(250, 250, 250, 0.75);
  --borderColor-brightmode: rgb(180, 180, 180);
  --borderColor-point-out-brightmode: rgb(225, 225, 225);
  --shadowColor-brightmode: rgba(30, 30, 30, 0.75);

  /**************************************
  **** Dark Mode
  ***************************************/
  --bg-darkmode: rgb(30, 30, 30);
  --bg-darkmode-alpha-80: rgba(80, 80, 80, 0.5);
  --bg-darkmode-alpha-90: rgba(80, 80, 80, 0.75);
  --bg-darkmode-gradient: rgb(109, 81, 81);
  --bg-point-out-darkmode: rgb(10, 10, 10);
  --bg-point-out-darkmode-alpha-50: rgba(10, 10, 10, 0.5);
  --bg-point-out-darkmode-alpha-80: rgba(10, 10, 10, 0.8);
  --bg-point-out-darkmode-alpha-90: rgba(10, 10, 10, 0.9);
  --bg-point-out-darkmode-gradient: rgb(59, 31, 31);
  --font-color-darkmode: rgb(200, 200, 200);
  --font-color-darkmode-alpha-90: rgba(200, 200, 200, 0.75);
  --font-color-point-out-darkmode: rgb(200, 200, 200);
  --font-color-point-out-darkmode-alpha-90: rgba(200, 200, 200, 0.75);
  --borderColor-darkmode: rgb(180, 180, 180);
  --borderColor-point-out-darkmode: rgb(225, 225, 225);
  --shadowColor-darkmode: rgba(235, 235, 235, 0.75);
  
  /**************************************
  **** Border
  ***************************************/
  --border-solid: var(--border-width) solid var(--borderColor);
  --border-width: 1px;
  --border-width-bold: 2px;
  --border-radius: 0.5vh;
  --borderColor: var(--borderColor-brightmode);
  --borderColor-point-out: var(--borderColor-point-out-brightmode);
  --borderColor-active: rgb(178, 74, 35);

  /**************************************
  **** Other
  ***************************************/
  --boxShadow: 0.1vw 0.2vh 0.4vh var(--shadowColor);

  --shadowColor: var(--shadowColor-brightmode);
  --shadowColor-active: rgba(255, 106, 51, 0.75);

  --disabledColor-brightBG: var(--bg-point-out-alpha-80);
  --disabledColor-BG-brightBG: var(--bg-point-out-alpha-25);
}

/*****************************************************
/*
/* App css
/*
/****************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

li,
p {
  font-family: var(--font-family-text);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  color: var(--font-color);
  vertical-align: middle;
  text-align: left;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: pre-line;*/
}

.cl_boldText {
  font-weight: bold;
}

.cl_notSelectable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cl_textBlock {
  margin-top: 2.5vh;
  width: 100%;
  text-align: left;
}

.cl_smallText {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

a,
a:link {
  font-family: var(--font-family-text);
  font-family: var(--font-family-text);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  color: var(--font-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

/* visited link */
a:visited {
  color: var(--font-color);
}

/* mouse over link */
a:hover {
  color: var(--font-color);
}

/* selected link */
a:active {
  color: var(--font-color);
}

h1 {
  text-align: center;
  font-family: var(--font-family-cccLabel);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  color: var(--font-color-point-out);
  vertical-align: middle;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

h2 {
  font-family: var(--font-family-section);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  color: var(--font-color-point-out);
  vertical-align: middle;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

h3 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  color: var(--font-color-point-out);
  vertical-align: middle;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

h4 {
  font-family: var(--font-family-text);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
  color: var(--font-color-point-out);
  vertical-align: middle;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cl_textBorder_Dark {
  -webkit-text-stroke: 2px var(--bg-point-out);
}

div {
  display: flex;
  flex-direction: column;
  height: fit-content;
  /*align-items: unset;*/
}

.cl_bigText {
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
}

.cl_smallText {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
}

svg {
  pointer-events: auto;
}
/*****************************************************
/*
/* Input css
/*
/****************************************************/
input {
  pointer-events: auto;
  background-color: var(--bg-app);
}

input {
  height: 3vh;
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--borderColor);
  padding-left: 1vw;
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

/*input:focus,
input:focus:hover {
  outline: none;
  border-color: var(--borderColor-active);
  box-shadow: 0.25vh 0.25vh 0.125vh var(--shadowColor-active);
}

input:hover {
  box-shadow: 0.25vh 0.25vh 0.125vh var(--shadowColor);
}*/

/*input[type="range"][orient="vertical"] {
  writing-mode: bt-lr; /* IE * /
  -webkit-appearance: slider-vertical; /* Chromium * /
}*/

/*input[type="checkbox"] {
  height: var(--font-size-normal);
}

input[type="checkbox"] {
  height: var(--font-size-normal);
}

input[type="checkbox"] label::after {
  color: var(--hover);
  background: var(--hover);
}*/

/* The cl_checkDiv */
.cl_checkDiv {
  width: fit-content;
  height: 2.5vh;
  display: flex;
  position: relative;
  padding-left: 2vw;
  margin-bottom: 0.25vh;
  cursor: pointer;
  font-size: 1.7vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cl_checkDiv p {
  margin-top: auto;
  margin-bottom: auto;
}

/* Hide the browser's default checkbox */
.cl_checkDiv input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.cl_checkSpan {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5vh;
  width: 2.5vh;
  border: var(--border-width) solid var(--borderColor);
  background-color: var(--bg-app);
  border-radius: var(--border-radius);
}

/* On mouse-over, add a grey background color */
.cl_checkDiv:hover input ~ .cl_checkSpan {
  border: var(--border-width-bold) solid var(--borderColor);
}

/* When the checkbox is checked, add a blue background */
.cl_checkDiv input:checked ~ .cl_checkSpan {
  border: var(--border-width) solid var(--hover);
  border-radius: var(--border-radius);
  background-color: var(--hover);
}

.cl_checkDiv input:checked ~ .cl_checkSpan:hover {
  border: var(--border-width-bold) solid var(--hover);
  box-shadow: 0.25vh 0.25vh 0.125vh var(--shadowColor);
}

/* Create the cl_checkSpan/indicator (hidden when not checked) */
.cl_checkSpan:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the cl_checkSpan when checked */
.cl_checkDiv input:checked ~ .cl_checkSpan:after {
  display: block;
}

/* Style the cl_checkSpan/indicator */
.cl_checkDiv .cl_checkSpan:after {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px 0px 0px 3px var(--bg-app);
}

/*****************************************************
/*
/* Select css
/*
/****************************************************/

select {
  /* A reset of styles, including removing the default dropdown arrow*/
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  /* Additional resets for further consistency*/
  height: 5vh;
  border-radius: var(--border-radius);
  min-width: 5vw;
  max-width: 10vw;
  border: var(--border-width) solid var(--borderColor);
  padding: 0.25vh 0.5vw;
  font-size: var(--font-size-normal);
  cursor: pointer;
  line-height: var(--line-height-normal);
  background-color: var(--bg-app);
  background-image: linear-gradient(to top, var(--bg-app), var(--bg-app) 33%);
}

select::after {
  grid-area: select;
  content: "";
  width: 1vw;
  height: 1vh;
  background-color: var(--borderColor);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select:hover {
  box-shadow: 0.25vh 0.25vh 0.125vh var(--shadowColor);
}

select:focus,
select:focus:hover {
  outline: none;
  border-color: var(--borderColor-active);
  box-shadow: 0.25vh 0.25vh 0.125vh var(--shadowColor-active);
}

/*****************************************************
/*
/* Margin css
/*
/****************************************************/

.cl_marginAutoTB {
  margin-top: auto;
  margin-bottom: auto;
}

.cl_marginTB_0_5 {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.cl_marginTB_2_5 {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

/*****************************************************
/*
/* Button css
/*
/****************************************************/

button:focus {
  outline: 0;
}

button {
  border: var(--border-width) solid var(--borderColor);
  background-color: var(--bg-point-out);
  color: var(--font-color-point-out);
  border-radius: var(--border-radius);
  /*padding: 0.5vh 1vw;*/
  font-size: var(--font-size-normal);
  height: 5vh;
  cursor: pointer;
  pointer-events: auto;
}

.cl_button_Bright {
  border: var(--border-width) solid var(--borderColor-point-out);
  background-color: var(--bg-app);
  color: var(--font-color);
  border-radius: var(--border-radius);
  /*padding: 0.5vh 1vw;*/
  font-size: var(--font-size-normal);
  height: 5vh;
  cursor: pointer;
  pointer-events: auto;
}

button:hover {
  border: none; /*var(--border-width) solid var(--borderColor-active);*/
  background-color: var(--hover);
}

.cl_button_Bright:hover {
  border: var(--border-width) solid var(--borderColor-active);
  background-color: var(--hover);
  color: var(--font-color-point-out);
}

button:disabled,
button[disabled] {
  border: var(--border-width) solid var(--disabledColor-brightBG);
  background-color: var(--disabledColor-BG-brightBG);
  color: var(--disabledColor-brightBG);
  cursor: not-allowed;
}

.cl_button_qa_Dark {
  background-color: var(--bg-point-out);
  color: var(--font-color-point-out);
  height: 4vh;
  max-height: 4vw;
  width: 4vw;
  max-width: 4vh;
  border-radius: var(--border-radius);
  margin: auto;
  font-weight: bold;
}

.cl_button_qa_Dark:hover {
  border: none;
  background-color: var(--hover);
}

/*****************************************************
/*
/* Effects css
/*
/****************************************************/

.cl_innerShadow {
  -moz-box-shadow: inset 0 0 1vh var(--shadowColor);
  -webkit-box-shadow: inset 0 0 1vh var(--shadowColor);
  box-shadow: inset 0 0 1vh var(--shadowColor);
}

/*****************************************************
/*
/* Other css
/*
/****************************************************/

.cl_row {
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: initial;*/
}

.cl_noMark {
  -ms-user-select: None;
  -moz-user-select: None;
  -webkit-user-select: None;
  user-select: None;
}

.cl_Icon_S {
  cursor: pointer;
  stroke-width: 3;
  stroke-linecap: round;
  fill: none;
  stroke-linejoin: round;
}

.cl_Icon_F {
  cursor: pointer;
  stroke: none;
}

.cl_Icon_F_BrightBG {
  fill: var(--bg-point-out);
}

.cl_Icon_F_BrightBG:hover {
  fill: var(--hover);
}

.cl_Icon_S_BrightBG {
  stroke: var(--bg-point-out);
}

.cl_Icon_S_BrightBG:hover {
  stroke: var(--hover);
}

.cl_Icon_F_DarkBG {
  fill: var(--bg-app);
}

.cl_Icon_F_DarkBG:hover {
  fill: var(--hover);
}

.cl_Icon_S_DarkBG {
  stroke: var(--bg-app);
}

.cl_Icon_S_DarkBG:hover {
  stroke: var(--hover);
}

.cl_Icon_S_BrightBG_Disabled {
  stroke: var(--bg-point-out);
  cursor: not-allowed;
}

.cl_Icon_S_BrightBG_Activated {
  stroke: var(--active);
}
